@font-face {
	font-family: 'Yellowtail';
	src: url('fonts/yellowtail-regular.woff2') format('woff2'),
		url('fonts/yellowtail-regular.woff') format('woff');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}

html{color:#FFF;background:#000;
	font:1.25em/1.618 Helvetica Neue,Arial,sans-serif}
body{margin:0 auto;padding:0}

article{overflow:hidden;min-height:100vh;position:relative;perspective:30em;perspective-origin:top}
article::after{content:"";position:absolute;top:20vh;bottom:-1em;left:-10em;right:-10em;
	transform:rotateX(70deg);z-index:-1;opacity:.4;
	background-image:
		repeating-linear-gradient(to top, #f264e6 0,#f264e6 1px,transparent 1px,transparent 1em),
		repeating-linear-gradient(to left,#f264e6 0,#f264e6 1px,transparent 1px,transparent 2em);
}

header{margin:0;padding:20vh 1em 1.5em;
	background:linear-gradient(#2D2242, #190039 94%, #FFF 97%, transparent)}

h1{text-align:center;line-height:1;font-size:3em;margin:-1.2em 0 0}
#drew{padding-right:3.6em;display:block;transform:rotate(-7deg);font:1.25em/.9 'Yellowtail',cursive;
	color:#f264e6;font-weight:400;text-shadow:0 0 .05em #ef45e1,.05em .1em .1em rgba(0,0,0,.5)}
#mitchell{text-transform:uppercase;
	filter:drop-shadow( .01em 0 .025em #a09567) drop-shadow(0  .01em .025em #a09567)
	       drop-shadow(-.01em 0 .025em #a09567) drop-shadow(0 -.01em .025em #a09567);
	background:linear-gradient(#aa51a1 25%, #e46d4b 75%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-webkit-text-stroke:.025em #fefe05}

#rc{filter:drop-shadow(0 0 .6em #c92f69);background:#fb3ebd;
	background:linear-gradient(
		#fffd39,
		#fea669 40%,transparent 40%,transparent 43%,#fea669 43%,
		#fe9076 50%,transparent 50%,transparent 54%,#fe9076 54%,
		#fe648f 60%,transparent 60%,transparent 64%,#fe648f 64%,
		#fe4e9b 70%,transparent 70%,transparent 75%,#fe4e9b 75%,
		#fe35aa 80%,transparent 80%,transparent 85%,#fe35aa 85%,
		#fe30ac 90%,transparent 90%,transparent 94%,#fe30ac 94%,
		#fb3ebd);
	height:6em;width:6em;border-radius:6em;
	margin:0 auto 0;overflow:hidden;text-align:center;font-size:1em}
#rc img{margin-top:.75em;width:auto;height:6em}

a{color:#FCFB08;text-decoration:none}
a:hover{text-decoration:underline}

ul{list-style-type:none;margin-left:0;padding:0 1em;text-align:center}
ul.short li{margin:0 .75em;padding:0;display:inline}

@media (min-width:30em) AND (min-height:30em) {html{font-size:1.5em}}
@media (max-width:15em), (max-height:15em) {html{font-size:1em}}