@font-face {
	font-family:'Franklin Gothic Web';
	src:local('Franklin Gothic Book'),
		url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
		url('fonts/franklingothic-book-webfont.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

html{color:#333;background:#FFF;font:1.25em/1.618 Helvetica Neue,Arial,sans-serif}
.fg{font-family:Franklin Gothic Web,Franklin Gothic Book,Helvetica Neue,Arial,sans-serif}

p{font-size:.92em;line-height:1.78;letter-spacing:.01em}
.fg p{font-size:1em;line-height:1.618;letter-spacing:0}

body{margin:1.5em auto;max-width:24em;padding:1em}


#rc{background:#9fd1e9;background:linear-gradient(#9fd1e9, #82c3e3);
	height:6em;width:6em;max-height:175px;max-width:175px;border-radius:6em;
	margin:2em auto;overflow:hidden;text-align:center;font-size:1em}
#rc img{margin-top:.75em;width:auto;height:6em;max-height:175px}

a{color:#19D;text-decoration:none}
a:hover{color:#DB6138}
a:active{text-decoration:underline}

ul{list-style-type:none;margin-left:0;padding-left:0;text-align:center}
ul li{margin:0 .75em;padding:0;display:inline}

@media (min-width:30em) AND (min-height:30em) {html{font-size:1.5em}}
@media (max-width:25em), (max-height:25em) {#rc{font-size:.75em;margin:1.5em auto}}
@media (max-width:20em), (max-height:20em) {#rc{font-size:.5em;margin:0 auto}}
@media (max-width:15em), (max-height:15em) {html{font-size:1em}}